#carousel {
  margin: 0 auto;
  width: 80%;
  height: 50rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#carousel img {
  width: 100%;
}

.info-country {
  height: max-content;
  margin-bottom: 1.5rem;
}

.info-country p {
  width: max-content;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(250, 242, 242);
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(148, 215, 231);
  margin: 0 auto;
  padding: 0.2rem;
}

.info-country h3 {
  font-size: 2.5rem;
  color: rgb(30, 236, 236);
}

@media screen and (max-width: 768px) {
  #carousel  div {
    display: inline-block !important;
  }
  
  #carousel{
    
    display: flex;
    align-items: center;
    justify-content: center;
   }
  #carousel img{
    height: 80%;
  }
}

@media screen and (max-width: 486px) {
 #carousel img{
    height: 40%;
  }
}
