.header-country {
  background-color: rgba(140, 208, 240, 0.8);
  width: 100vw;
  color: black;
}

.title-country {
  font-family: 'Roboto';
  color: rgb(0, 0, 0);
}

.map {
  position: relative;
  width: 60rem;
  height: 40rem;
}
.wrapper-country {
  height: max-content;
  background: center center/cover no-repeat fixed;
}

.api-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.api-information {
  width: 100%;
  height: max-content;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(148, 215, 231);
}

.api-information form div {
  border-radius: 10px;
  background-color: rgba(9, 116, 238, 0.7);
  color: rgb(255, 255, 255);
  font-size: 3rem;
  height: 10rem;
}
.currency {
  border-radius: 10px;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(148, 215, 231);
  background: url(https://images.aif.by/007/730/436b177b025334f197ef06c110c25d5d.jpg) center center/cover;
  color: rgb(228, 17, 17);
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 30rem;
  justify-content: center;
  font-weight: 900;
}

.currency span {
  font-family: 'Roboto';
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgb(245, 241, 241), 0 0 1em rgb(148, 215, 231);
  color: rgb(41, 18, 14);
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  width: 98%;
}
.player {
  position: relative;
  width: 90%;
  height: 90%;
  margin-left: 2rem;
}

.card-text {
  width: 90%;
  padding: 3px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(240, 241, 236);
  font-size: 1.5rem;
  text-shadow: 0px 0px 1px rgb(10, 10, 10), 0 0 1em rgb(26, 92, 110);
}
.country {
  font-size: 5rem;
  color: rgb(0, 0, 0);
    text-shadow: 5px 5px 5px rgb(243, 242, 242), 0 0 1em rgb(26, 92, 110);
}

.capital {
  font-size: 3rem;
  color: rgb(253, 253, 253);
    text-shadow: 3px 3px 5px rgb(0, 0, 0), 0 0 1em rgb(26, 92, 110);
}

